.app-wrapper{
  color: white; 
  border-radius: 5px;
  background-color: rgb(5, 5, 39);
  margin: 50px 200px;
}
.wrapper-todo-head-childs{
  display: grid;
  grid-template-areas: 
    "input select add";
  grid-template-columns: 3fr 3fr 1fr;  
}

 .input-field, .wrapper-todo-head-childs-select, .wrapper-todo-head-childs-addbtn{
  margin: 20px 15px;
  background-color: rgb(10, 10, 80);
  color: white;
  border-radius: 10px;
} 

.input-field{
  grid-area: input;
  padding: 15px 10px;
  border-radius: 10px;
  appearance: none; /*I reset the default browser styles. I might come back and change this if it causes issues. */
}

.wrapper-todo-head-childs-select{
  grid-area: select;
  padding: 15px 10px;
}

.wrapper-todo-head-childs-addbtn{
  grid-area: add;
  background-color: rgb(52, 175, 175); 
  padding: 15px 5px;
  cursor: pointer;
}

.wrapper-todo-buttons-filter-childs{
  display: grid;
  grid-template-areas:
   "all" "urgent" "medium" "low" "finish";
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 0;
}  

button[class^="wrapper-todo-buttons-filter-childs"]{
  background-color: rgb(10, 10, 80);
  color: white;
  border-radius: 10px;
  padding: 10px 5px;
  cursor: pointer;
}

button[class^="wrapper-todo-buttons-filter-childs"]:not(.wrapper-todo-buttons-filter-childs-finishbtn):hover{
  background-color: rgb(52, 175, 175); 
}

.wrapper-todo-buttons-filter-childs-finishbtn{
  grid-area: 1/7/2/8;
  /*grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 7;
  grid-column-end: 8;*/
  opacity: 0.2; 
}

.todo{
  position: relative;
}

.delete-button{
  position: absolute;
  background-color: rgb(10, 10, 80);
  color: red;
  right: 10px;
  cursor: pointer;
  padding: 8px 8px;
  border-radius: 10px;
}

.delete-button:hover{
  color: black;
  background-color: red;
}

.urgent{
  color: red;
  font-size:large;
  background-color: rgb(61, 6, 6);
  padding: 3px 5px;
  border-radius: 8px;
  margin-left: 5px;
}

.medium{
  color: yellow;
  font-size:large;
  background-color: rgb(68, 68, 4);
  padding: 3px 5px;
  border-radius: 8px;
  margin-left: 5px;
}

.low{
  color: green;
  font-size:large;
  background-color: rgb(3, 39, 3);
  padding: 3px 5px;
  border-radius: 8px;
  margin-left: 5px;
}